/**
 *
 * Base Setups for HTML Elements
 *
 */


* {
    padding: 0;
    margin: 0;
}
html{
    font-size: 18px;
    @include media-breakpoint-up(xl) {
        font-size: 20px;
    }
}
h1, h2, h3, h4, h5, h6{
    // font-family: $font-main;
    font-family: 'Roboto Slab',sans-serif;
    font-weight: $font-weight-bold;
    line-height: 1.4;
    color: #333;
}
h1{
    font-size: $font-size-01;
    margin: 0 0 1rem 0;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-02;
    }
}
h2{
    font-size: $font-size-02;
    margin: 0 0 0.75rem 0;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-03;
    }
}
h3{
    font-size: $font-size-03;
    margin: 0 0 0.75rem 0;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-04;
    }
}
h4{
    font-size: $font-size-04;
    margin: 0 0 0.5rem 0;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-05;
    }
}
h5{
    font-size: $font-size-05;
    margin: 0 0 0.5rem 0;
    @include media-breakpoint-down(xs) {
        font-size: $font-size-main;
    }
}
h6{
    font-size: $font-size-main;
    margin: 0 0 0.5rem 0;
}
p, address{
    font-size: $font-size-main;
    // font-weight: $font-weight-normal;
    font-weight: 400;
    font-family: 'Roboto Slab',sans-serif;
    // color: $font-color-main;
    color: #000;
    // line-height: $line-height-main;
    line-height: 1.7;
    margin: 0 0 0.5rem 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    li{
        ul{
            margin: 0
        }
    }
}
a{
    outline: none;
    color: $link-color-main;
    text-decoration: none;
    background: transparent;
    line-height: 1;
    &:hover, &:focus{
        color: $link-color-hover;
        text-decoration: none;
    }
}
figure{
    margin-bottom: 0;
}
img{
    outline: none;
    border: 0;
    font-size: $font-size-main;
    color: $font-color-main;
    font-style: italic;
}
form{
    margin: 0;
    width: 100%;
}
hr {
    height: 1px;
    background: #f4f4f4;
    border: 0;
    margin: 1.5rem 0;
}
body{
    // font-family: $font-main;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif;
    font-size: $font-size-main;
    color: $font-color-main;
    line-height: 1;
    font-weight: $font-weight-normal;
    height: auto !important;
    letter-spacing: $letter-spacing-main;
    @include transitionall(0.3s);
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

dl{
    margin-bottom: 0;
    &.datalist{
        @include make-row();
        &.no-gutters{
            margin-left: 0;
            margin-right: 0;
            dt, dd{
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.bordered{
            dt, dd{
                margin-bottom: 0;
                @extend .d-flex;
                span{
                    padding-bottom: 0.45rem;
                    margin-bottom: 0.45rem;
                    float: none;
                    display: block;
                    border-bottom: 1px solid $form-control-border-color;
                    width: 100%;
                    @extend .d-flex;
                    @extend .flex-column;
                }
            }
            dt{
                span{
                    float: none;
                    @include media-breakpoint-down(xs) {
                        display: block;
                        border-bottom: 0;
                        padding: 0;
                    }
                }
            }
        }
        dt, dd{
            @include make-col-ready();
            @include make-col(12);
            @include media-breakpoint-up(sm) {
                @include make-col(6);
            }
        }
    }
    dt, dd{
        margin: 0 0 0.25rem;
        font-size: $font-size-main;
        font-weight: $font-weight-normal;
        line-height: $line-height-main;
    }
    dt{
        color: #414042;
        @include media-breakpoint-down(xs) {
            margin-bottom: 0;
        }
        span{
            float: right;
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }
    dd{
        color: $font-color-table;
        @include media-breakpoint-down(xs) {
            margin-bottom: 0.75rem;
        }
    }
}




