/**
 *
 * Template Footer
 *
 */


#footer{
    @include app-gradient;
    > .container-fluid{
    	@include media-breakpoint-up(lg) {
			padding-left: 1rem;
	        padding-right: 1rem;
		}
		@include media-breakpoint-up(xl) {
	        padding-left: 1.5rem;
	        padding-right: 1.5rem;
	    }
	}
	p{
		margin-bottom: 0;
		line-height: 1.4;
		font-size: $font-size-06;
		a{
			color: $font-color-main;
		}
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
		@include media-breakpoint-up(md) {
			text-align: right;
		}
	}
    .footer-top{
        padding: 2rem 0 0;
    }
    .footer-links{
        margin-bottom: 1.5rem;
        h3{
            color: #fff;
            margin-bottom: 1.5rem;
            font-weight: $font-weight-bold;
        }
        .nav{
            .nav-item{
                margin-bottom: 0.5rem;
            }
            .nav-link{
                color: #fff;
                padding: 0;
                @include transitionall(0.3s);
                &:hover{
                    color: rgba(255,255,255,0.9);
                }
            }
        }
    }
    .footer-logo{
        margin-bottom: 2rem;
    }
	.copyrights{
		padding: 1rem 0;
		border-top: 1px solid rgba(255,255,255,0.7);
		p{
			color: #fff;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
			a{
				color: #fff;
                @include transitionall(0.3s);
                &:hover{
                    color: rgba(255,255,255,0.9);
                }
			}
		}
	}
}

.footer-nav {
	padding-top: 3rem;
	padding-bottom: 2rem;;
	ul li {
		float: left;
		font-size: 14px;
		a {
			color: #000;
			padding: 0 0.5rem;
			text-decoration: underline;
			cursor: pointer;
			span {
				background-color: #000;
				color: #fff;
				padding: 0.6rem;
				font-size: 25px;
				border-radius: 48%;
				width: 50px;
				height: 50px;
				display: inline-block;
				text-align: center;
				margin-top: -25px;
			}
		}
	}
}







/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

	.footer-nav {
		width: 100%;
		ul {
			li {
				width: 100%;
				text-align: center;
				a {
					color: #000;
					padding: 0 0.5rem;					
				}
			}
		}
		
	}

	.footer-nav {
		ul {
			li {
				padding: 1rem 0;				
			}
			li:nth-child(1) {
				width: 33.33%;
				text-align: right;
			}
			li:nth-child(2) {
				width: 33.33%;
			}
			li:nth-child(3) {
				width: 33.33%;
				text-align: left;
			}
			
		}
	}
	
} /*//////////////////////////////////////*/