 /**
 *
 * Template Header
 *
 */


.mobile-sidebar-bg{
    display: none;
    position: fixed;
    z-index: 1091;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    &.oppenned{
        display: block;
    }
}
.mobile-sidebar{
    position: fixed;
    z-index: 1095;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #38383b;
    @include transition(left 0.5s cubic-bezier(0.26,0.005,0.065,0.995));
    &.oppenned{
        left: 0;
    }
    .mobile-sidebar-header{
        padding: 1rem 0.75rem;
        .mobile-sidebar-logo{
            height: 3rem;
        }
        .mobile-sidebar-close{
            cursor: pointer;
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.76);
            width: 2.2rem;
            height: 2.2rem;
            line-height: 2.2rem;
            text-align: center;
            border-radius: 0.25rem;
            border: 1px solid rgba(255,255,255,0.1);
        }
    }
    hr{
        background-color: rgba(255,255,255,0.1);
        margin: 0.5rem 0.75rem;
    }
    .nav{
        .nav-item{
            .nav-link{
                color: #fff;
                padding: 0.75rem;
                font-size: $font-size-04;
                font-weight: $font-weight-bold;
                @extend .d-flex;
                i{
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .sub-nav{
        margin-left: 1.3rem;
        .nav-item{
            .nav-link{
                color: rgba(255,255,255,0.7);
                padding: 0.5rem 0.75rem;
                font-size: $font-size-main;
                font-weight: $font-weight-normal;
            }
        }
    }
    .lang-selector{
        hr{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}
.mobile-sidebar-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


#header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1090;
    background: #fff;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.15));
    @include transitionall(0.2s);
    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.5rem 0;
        @include box-shadow(0 1px 5px rgba(0,0,0,0.05));
    }
    &.sticky{
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        background-color: $theme-color-02;
        .navbar-brand{
            img{
                height: $form-control-height;
                @include transitionall(0.3s);
                &.logo-default{
                    display: none;
                }
                &.logo-white{
                    display: block;
                }
            }
        }
        .header-search{
            display: none;
        }
        .btn{
            &.all-ads-link{
                color: #fff;
                border-color: $theme-color-01;
                background-color: $theme-color-01;
                @include app-gradient;
                &:not(:disabled):not(.disabled):active, &:hover, &:focus{
                    color: #fff;
                    border-color: $btn-color-primary-hover;
                    background: $btn-color-primary-hover;
                    @include app-gradient;
                }
            }
        }
        .lang-selector{
            .nav{
                .nav-item{
                    border-right-color: #fff;
                    .nav-link{
                        color: #fff;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.navbar-toggler {
    margin: 0;
    border-radius: 0;
    border: 0;
    width: $header-height-mobile;
    height: $form-control-height;
    &:focus{
        outline: none;
    }
    i{
        color: #fff;
    }
}

.navbar-toggler-icon{
    width: auto;
    height: auto;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    img{
        height: $header-height;
        @include transitionall(0.3s);
        @include media-breakpoint-down(sm) {
            height: $header-height-mobile;
            width: auto;
        }
        &.logo-white{
            display: none;
            @include transitionall(0.3s);
        }
    }
}

.header-right{

}

.header-right-links{
    .btn{
        margin-left: 0.5rem;
    }
    .dropdown{
        &.show{
            .dropdown-toggle{
                &:before, &:after {
                    display: block;
                }
            }
            .btn{
                background-color: #fdfdfd;
            }
        }
    }
    .dropdown-toggle{
        &:before, &:after {
            display: none;
            content: '';
            position: absolute;
            right: 0;
            bottom: -0.45rem;
            margin-right: 0.6rem;
            width: 0;
            height: 0;
            border-top: 0;
            border-left: 0.3rem solid transparent;
            border-right: 0.3rem solid transparent;
            border-bottom: 0.45rem solid $border-color-main;
        }
        &:after{
            z-index: 9999;
            margin-bottom: -1px;
            border-bottom-color: #fff;
        }
    }
    .dropdown-menu{
        margin-top: 0.4rem;
        min-width: 8rem;
        .dropdown-item{
            border-bottom: 1px solid $border-color-main;
            padding: 0.45rem 0.75rem;
            font-size: $font-size-main;
            @include transitionall(0.2s);
            &:first-child{
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
            &:last-child{
                border-bottom: 0;
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
            &:hover, &:focus{
                color: #fff;
                background-color: $theme-color-01;
                svg{
                    fill: #fff;
                }
            }
            svg{
                margin-right: 0.25rem;
            }
        }
    }
}

.header-search-inner{
    @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
}

.header-search{
    @include media-breakpoint-up(md) {
        margin-top: 0.7rem;
    }
    .navbar-form{
        position: relative;
        margin: 0;
        border: 0;
        padding: 0;
        @include box-shadow(none);
        .form-control{
            font-size: $font-size-05;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            border: 1px solid $theme-color-01;
            &::-webkit-input-placeholder {
                color: $theme-color-01;
            }
            &:-moz-placeholder {
                color: $theme-color-01;
            }
            &::-moz-placeholder {
                color: $theme-color-01;
            }
            &:-ms-input-placeholder {
                color: $theme-color-01;
            }
            &:focus{
                outline: none;
                @include box-shadow(none);
            }
        }
        .btn{
            svg{
                fill: #fff;
            }
        }
    }
    .bootstrap-select{
        >.dropdown-toggle{
            i{
                margin-right: 0.25rem;
            }
        }
        .dropdown-menu {
            min-width: 10rem;
            // margin-top: 0;
            border-radius: 0.15rem;
            li{
                &:first-child{
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                    opacity: 0;
                }
                .dropdown-item{
                    font-size: $font-size-main;
                    padding: 0.6rem 0.75rem;
                    background-color: #fff;
                    &:hover, &:focus{
                        background-color: #f7f7f7;
                    }
                    &.active{
                        background-color: $theme-color-01;
                        &:hover, &:focus{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .bs-searchbox{
        padding: 0.25rem 0.4rem 0.3rem;
        background-color: #f7f7f7;
        border-bottom: 1px solid $border-color-main;
        .form-control{
            border: 1px solid $border-color-main;
            background-color: #fff;
        }
    }
}

.lang-selector{
    .nav{
        .nav-item{
            border-right: 1px solid  $theme-color-01;
            &:last-child{
                border-right: 0;
            }
            .nav-link{
                padding: 0 0.5rem;
                color: $theme-color-01;
                &:hover{
                    color: $theme-color-01;
                }
            }
        }
    }
}




/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {





#header{
    background-color: $theme-color-02;
    @include app-gradient;
    &.sticky{
        position: relative;
        .header-search{
            display: block !important;
        }
    }
}

.navbar-toggler{
    float: left;
    margin-top: 0.5rem;
}

.navbar-brand{
    float: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
    img{
        height: $form-control-height !important;
        &.logo-default{
            display: none !important;
        }
        &.logo-white{
            display: block !important;
        }
    }
}

.header-right-links{
    position: absolute;
    right: 0;
    top: -1.8rem;
}

.header-search{
    .header-search-inner{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-form{
        display: block;
        margin-top: 0.5rem;
        .input-group{
            margin-bottom: 0.5rem;
        }
        .form-control{
            border-color: #fff;
            background-color: #fff;
            &::-webkit-input-placeholder {
                color: rgba(0,0,0,0.6);
            }
            &:-moz-placeholder {
                color: rgba(0,0,0,0.6);
            }
            &::-moz-placeholder {
                color: rgba(0,0,0,0.6);
            }
            &:-ms-input-placeholder {
                color: rgba(0,0,0,0.6);
            }
        }
        .btn.btn-search{
            border-color: #f7f7f7;
            background: #f7f7f7;
            svg{
                fill: #8a8a8a;
            }
        }
    }
    .bootstrap-select{
        width: 100% !important;
        margin-right: 0;
        >.dropdown-toggle{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            border-bottom: 0;
            i{
                margin-right: 0.25rem;
            }
        }
        .dropdown-menu {
            min-width: 10rem;
            // margin-top: 0;
            border-radius: 0.15rem;
            li{
                &:first-child{
                    position: absolute;
                    left: -9999px;
                    top: -9999px;
                    opacity: 0;
                }
                .dropdown-item{
                    font-size: $font-size-main;
                    padding: 0.6rem 0.75rem;
                    background-color: #fff;
                    &:hover, &:focus{
                        background-color: #f7f7f7;
                    }
                    &.active{
                        background-color: $theme-color-01;
                        &:hover, &:focus{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/

