/**
 *
 * Sidebar styles
 *
 */



.filter-container{
    .btn-more{
        margin-top: 0.25rem;
        color: #999;
        padding: 0.2rem 0;
        &.collapsed{
            i{
                @include transform(rotate(0deg));
            }
            span{
                display: inline-block;
            }
            &:before{
                content: '';
            }
        }
        &:hover, &:focus{
            color: #999;
        }
        &:before{
            content: 'Show less';
        }
        i{
            margin-left: 0.25rem;
            @include transform(rotate(-180deg));
        }
        span{
            display: none;
        }
    }
    .btn-link{
        @extend .d-flex;
        color: $font-color-main;
        width: 100%;
        text-align: left;
        padding: 0;
        font-weight: $font-weight-normal;
        &:hover, &:focus{
            color: $theme-color-01;
            text-decoration: none;
        }
        &.active{
            font-size: $font-size-05;
            color: #333;
            font-weight: $font-weight-bold;
        }
        &.fs-toggle{
            display: block !important;
            font-size: $font-size-06;
            color: #999;
            font-weight: $font-weight-light;
            margin-bottom: 0.5rem;
            &:hover, &:focus{
                color: #999;
            }
            &.collapsed{
                i{
                    @include transform(rotate(0deg));
                }
            }
            i{
                float: right;
                font-size: $font-size-02;
                @include transitionall(0.3s);
                @include transform(rotate(-180deg));
            }
        }
        .icon-filter{
            margin-right: 0.25rem;
            svg{
                height: 1rem;
                width: 1rem;
            }
        }
        .title{

        }
        .count{
            color: #999;
        }
    }
}

.filter-section{
    padding-bottom: 0.25rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid $border-color-main;
    &:last-child{
        margin-bottom: 0;
    }
    &.sort-by-dropdown{
        .form-group{
            margin-bottom: 1rem;
        }
    }
}



.fs-collapse{
    .collapse-inner{
        padding-bottom: 0.75rem;
    }
}

.fs-header{
    .btn-link{
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

.fs-links{
    li{
        padding: 0.2rem 0;
    }
    &.level1{

    }
    &.level2{
        margin-left: 1.75rem;
    }
    &.level3{
        margin-left: 0.75rem;
    }
    .custom-control{
        margin-bottom: 0;
    }
}

.fs-range{
    .form-group{
        margin-bottom: 0.75rem;
    }
}
