/*
    AUTHOR: Sam Johnson
    MINIMusic Player
*/

/* HTML5 Audio player with playlist styles */
.example,
.example2,
.example3 {
    margin: 0;
    width: 100%;
    padding-bottom: 0;
}

.player {
  background: #f09f8b;
  height: 80px;
  position: relative;
  width: 100%;
  z-index: 2;
      background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8379726890756303) 35%, rgba(167,124,111,1) 100%);
    overflow: hidden;
}
.title,
.artist {
  font-family: verdana;



  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.title {
color: #ffffff;
    font-weight: bold;
    top: 8px;
    left: 8px;
    font-size: 12px;
    position: relative;
}
.artist {
    color: #eeeeee;
    font-size: 12px;
    top: 15px;
    position: relative;
    left: 8px;
}
.pl {
  background: url(../images/playlist.png) no-repeat;
  cursor: pointer;
  height: 40px;
  left: 330px;
  position: absolute;
  top: 20px;
  width: 39px;
}
.pl:hover {
  top: 21px;
}
.cover {
  border-radius: 0;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
/*  background-position: center;*/
  background-size: cover;
}
.info {
    position: absolute;
    left: 80px;
    top: 0;
}
.controls {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
        display: flex;
}
.controls .play,
.controls .pause {
    width: 45px;
    height: 45px;
    margin: auto;
    vertical-align: middle;
    background-size: 100%;
}
.controls .play,
.controls .pause,
.controls .rew,
.controls .fwd,
.controls .stop {
  text-indent: -10000px;
  border: none;
/*  float: left;*/
}
.controls .rew,
.controls .fwd,
.controls .stop {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
}
.controls .play {
  background: url(../images/play.png) no-repeat;
  background-size: 100%;
}
.controls .pause {
  background: url(../images/pause.png) no-repeat;
  display: none;
  background-size: 100%;
}
.controls .rew {
  background: url(../images/rewind.png) no-repeat;
}
.controls .fwd {
  background: url(../images/next.png) no-repeat;
}
.controls .stop {
  background: url(../images/stop.png) no-repeat;
}
.hidden {
  display: none;
}
.controls .visible {
  display: block;
}
.volume {
  height: 11px;
  left: 230px;
  position: absolute;
  top: 142px;
  width: 140px;
}
.mute .volume-btn {
  background: url(../images/volume-off.png) no-repeat;
}
.volume-btn {
  background: url(../images/volume-up.png) no-repeat;
  height: 20px;
  width: 20px;
  float: left;
  position: relative;
  top: -4px;
}
.volume-adjust {
  height: 11px;
  position: relative;
  width: 80%;
  background: #fff;
  float: right;
}
.volume-adjust > div > div {
  height: 11px;
  background: #151b48;
}
.progressbar {
    background-color: #f6f0f061;
    cursor: pointer;
    z-index: 1;
    right: 0;
    height: 4px;
    margin: 0;
    position: absolute;
    left: 107px;
    top: 60px;
    display: flex;
    width: 100px;
}
.novolume .progressbar {
  right: 4.375em; /* 70 */
}
.progressbar div {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
}
.bar-loaded {
background-color: #f1f1f16b;
    z-index: 1;
}
.bar-played {
  background: #ffffff;
    z-index: 2;
}
.timeHolder {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  bottom: 10px;
  position: absolute;
  margin: 0px 5%;
  width: 90%;
}
.time-current,
.time-duration,
.time-separator {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
.volume .ui-slider-handle {
  background: url("../images/spr.png") no-repeat scroll -201px -188px
    rgba(0, 0, 0, 0);
  height: 13px;
  width: 13px;
}
.playlist {
  background-color: #fff;
  list-style-type: none;
  margin: -10px 0 0 2px;
  padding-bottom: 10px;
  padding-top: 15px;
  position: relative;
  width: 95%;
  z-index: 1;
  margin: 0px auto;
}
.playlist li,
.playlist div {
  color: #151b48;
  cursor: pointer;
  margin: 0 0 5px 15px;
}
.playlist li > a,
.playlist div > a {
  color: #151b48;
  text-decoration: none;
}
.playlist li.active,
.playlist div.active {
  font-weight: bold;
}
.slick-dots {
  bottom: 5px !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
}
.player-container {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.progressbar div.left-arow {
    height: 13px;
    position: absolute;
    left: -20px;
    top: -4px;
    background: url("../images/leftarow.png") no-repeat center;
    background-size: 100%;
    width: 13px;
}
.progressbar div.right-arow {
    height: 13px;
    position: absolute;
    left: auto;
    right: -20px;
    top: -4px;
    background: url("../images/rightarow.png") no-repeat center;
    background-size: 100%;
    width: 13px;
}
.music-image {
    margin-bottom: 1rem;
    position: relative;
/*    height: 275px;*/
    height: 255px;
}
.shere {
    position: absolute;
    width: 13px;
    height: 15px;
    background: url(../images/share-01.png) no-repeat center;
    background-size: 100%;
    right: 8px;
    bottom: 10px;
    cursor: pointer;
}