/**
 *
 * Common for all Pages
 *
 */


.page-header{
	margin-bottom: 1rem;
	@include media-breakpoint-down(xs) {
		margin-bottom: 0.75rem;
	}
	h1, h2{
		margin-bottom: 0;
        text-transform: uppercase;
	}
}

.interview-video {
	margin-bottom: 2rem;
}











.top-main-banner {
	width: 70%;
	margin: auto;
	z-index: 2;
	padding-top: 3rem;
	position: relative;
  }
  
  .top-main-banner img {
	width: 100%;
  }
  
  .main-banner {
	position: absolute;
	background: url(../images/filte1.jpg);
	height: 23rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	width: 100%;
	z-index: 1;
  }
  
  .main-banner .gray-blure {
	filter: blur(14px);
	-webkit-filter: blur(14px);
	background: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.4;
  }
  
  .position {
	position: relative;
  }
  
  #navbarSupportedContent .navbar-nav .nav-link {
	white-space: nowrap;
  }
  
  #navbarSupportedContent input.form-control {
	height: 1.6rem;
	font-size: 13px;
	border-color: #000;
	border-right: 0;
  }
  
  #navbarSupportedContent .navbar-nav a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
  }
  
  #navbarSupportedContent button.btn.btn-search, #navbarSupportedContent .ui-dialog .ui-dialog-buttonpane button.btn-search, .ui-dialog .ui-dialog-buttonpane #navbarSupportedContent button.btn-search {
	height: 1.6rem;
	border: solid 1px #000;
	border-radius: 0;
	padding: 5px 9px;
	border-left: 0;
  }
  
  #navbarSupportedContent .form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
  }
  
  #navbarSupportedContent .navbar-nav .show > .nav-link, #navbarSupportedContent .navbar-nav .active > .nav-link, #navbarSupportedContent .navbar-nav .nav-link.show, #navbarSupportedContent .navbar-light .navbar-nav .nav-link.active {
	color: rgba(0, 0, 0, 0.9);
	text-decoration: underline;
  }
  
  .show-more {
	border-radius: 0;
	border-right: 0;
	border-left: 0;
  }
  
  .player-details {
	padding-bottom: 4.5rem;
  }
  
  .player-details p {
	margin-bottom: 2px;
  }
  
  .content p {
	line-height: 1.7;
  }
  
  .level-lats iframe {
	width: 100%;
	height: 295px;
  }
  




/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

	.main-banner {
		height: 5rem;
		right: 0;
	  }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
