$font-path : '../fonts/';
$image-path : '../images/';

/*===============================================*/
// Bootstrap Full
/*===============================================*/

$primary : #ed1b24 !default;


@import "bootstrap/scss/bootstrap";
// @import "bootstrap/scss/bootstrap-grid";
// @import "bootstrap/scss/bootstrap-reboot";

/*===============================================*/
// Bootstrap Custom
/*===============================================*/
// Required
// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";

// Optional
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
// @import "bootstrap/scss/grid";


/*===============================================*/
// Plugins
/*===============================================*/
$fa-font-path: $font-path;
@import "font-awesome/scss/font-awesome";

@import 'intl-tel-input/src/css/intlTelInput';
.iti__flag {background-image: url('#{$image-path}flags.png');}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.iti__flag {background-image: url('#{$image-path}flags@2x.png');}
}


@import "owl.carousel/src/scss/owl.carousel.scss";

// @import "EasyAutocomplete/src/sass/easy-autocomplete";

// $slick-font-path: $font-path;
// $slick-loader-path: $image-path;
// @import "slick-carousel/slick/slick.scss";
// @import "slick-carousel/slick/slick-theme.scss";

@import "bootstrap-select/sass/bootstrap-select";
@import "aos/src/sass/aos";

@import "plugins/bootstrap-datetimepicker";
// @import "plugins/dataTables.bootstrap4";
// @import "plugins/datatables";
// @import "plugins/themify-icons";
@import "plugins/croppie";
@import "plugins/jquery.fancybox";
@import "plugins/bootstrap-pincode-input";
@import "plugins/jplayer.blue.monday";


/*===============================================*/
// Config
/*===============================================*/
@import "config/fonts";
@import "config/variables";
@import "config/animations";


/*===============================================*/
// Config
/*===============================================*/
@import "config/mixins";


/*===============================================*/
// Overides
/*===============================================*/
@import "overides/bootstrap-custom";
@import "overides/plugins";


/*===============================================*/
// Layouts
/*===============================================*/
@import "layout/base";
@import "layout/common";
// @import "layout/forms";
@import "layout/header";
@import "layout/footer";
// @import "layout/sidebar";
@import "layout/preloader";

/*===============================================*/
// Pages
/*===============================================*/
@import "pages/common";
// @import "pages/home";
// @import "pages/pages";
// @import "pages/login";
// @import "pages/register";
// @import "pages/otp-varify";
// @import "pages/user";
// @import "pages/dashboard";
// @import "pages/post-ad";
// @import "pages/edit-profile";
// @import "pages/select-category";


/*===============================================*/
// Modules
/*===============================================*/
// @import "modules/full-page-slider";
// @import "modules/form-wizard";
// @import "modules/listing";

/*===============================================*/
// Components
/*===============================================*/
//@import "modules/components/data-widget";
// @import "modules/components/list-item";
// @import "modules/components/list-item-details";
// @import "modules/components/advert";
