
.dataTables_empty {
    display: none;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    overflow: hidden !important;
    text-overflow: initial !important;
    white-space: normal !important;
    text-align: center !important;
}
.ngx-datatable.bootstrap {
    .datatable-header {
        .datatable-header-inner{
            .datatable-header-cell {
                padding: 0.3rem 0.25rem;
                border: 1px solid $btn-color-primary;
                margin: 0.1rem;
                background: $btn-color-primary;
                font-weight: $font-weight-semibold;
                vertical-align: middle;
                color: #fff;
                font-size: $font-size-main;
                line-height: 1;
                .datatable-header-cell-label {
                    line-height: 1;
                }
                .datatable-header-cell-template-wrap{
                    @extend .align-self-center;
                }
            }
        }
    }
    .datatable-body {
        .datatable-body-row {
            border-top: 0;
            vertical-align: middle;
            &.datatable-row-even {
                background-color: transparent;
            }
            &.active{
                color: $font-color-main;
                background-color: transparent;
            }
            .datatable-body-cell {
                font-size:  $font-size-main;
                line-height: 1;
                padding: 0.3rem 0.25rem;
                vertical-align: middle;
                border: 1px solid #ececec;
                margin: 0.1rem;
                .btn{
                    &.btn-sm{
                        padding: 0.1rem 0.5rem;
                    }
                    background: none;
                    border-radius: 0.25rem;
                    border: 1px solid $border-color-main;
                    color: $font-color-main;
                    &:hover, &:focus{
                        color: #fff;
                        background: $btn-color-primary;
                        border-color: $btn-color-primary-hover;
                    }
                }
            }
        }
    }
    // Summary row styles
    .datatable-summary-row {
        .datatable-body-row {
            .datatable-body-cell {
                font-weight: bold;
            }
        }
    }
    .empty-row{
        font-size: 0.65rem;
        line-height: 1;
        padding: 0.5rem 0.25rem;
        vertical-align: middle;
        border: 1px solid #ececec;
        margin: 0.1rem 0 0.2rem;
        text-align: center;
    }
    .datatable-checkbox{
        cursor: pointer;
        input[type='checkbox']{
            position: relative;
            &:checked{
                &:before {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    height: 0.5rem;
                    border-color:#0ce76f;
                    border-top-style: none; 
                    border-right-style: none; 
                }
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                z-index: 1;
                width: 0.75rem;
                height: 0.75rem;
                border: 2px solid #f2f2f2;
                @include transitionall(0.3s);
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0.75rem;
                height: 0.75rem;
                background: #fff;
                cursor: pointer;
            }
        }
    }
}




.ngx-datatable.bootstrap .datatable-footer {
    background: transparent;
    color: $font-color-main;
    margin-top: 0;
    .datatable-pager a{
        border-radius: 50%;
        margin: 0 0.25rem;
        color: $font-color-main;
    }
    .datatable-pager ul li:not(.disabled).active a, 
    .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
        background-color: $theme-color-01;
        color: #fff;
    }
}

