/**
 *
 * Framework Overides
 *
 */


.ex-small-gutters {
    margin-left: -5px;
    margin-right: -5px;
    .col, > [class*='col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.small-gutters {
    margin-left: -10px;
    margin-right: -10px;
    .col, > [class*='col-'] {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.large-gutters {
    margin-left: -20px;
    margin-right: -20px;
    .col, > [class*='col-'] {
        padding-right: 20px;
        padding-left: 20px;
    }
}


.ex-large-gutters {
    margin-left: -30px;
    margin-right: -30px;
    .col, > [class*='col-'] {
        padding-right: 30px;
        padding-left: 30px;
    }
}


.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}


.alert{
    padding: 0.5rem 0.75rem;
    font-size: $font-size-main;
    line-height: 1.3;
    border-width: 0;
    i{
        margin-right: 0.25rem;
    }
    &.alert-success{
        color: $success;
    }
    &.alert-danger{
        color: $danger;
    }
    &.alert-info{
        color: $info;
    }
    &.alert-checkbox{
        padding: 0;
        margin-bottom: 1.5rem;
        .custom-control-input:disabled:checked ~ .custom-control-label{
            opacity: 1;
        }
    }
    &.alert-content-box{
        padding: 0.75rem;
        margin-bottom: 1.5rem;
        background-color: transparent;
        @include box-shadow(0 0 5px rgba(0,0,0,0.1));
        i{
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            margin-right: 0.5rem;
            font-size: 0.7rem;
        }
        .alert-inner-content{
            h4{
                color: #000;
                font-weight: $font-weight-exbold;
                margin-bottom: 0.2rem;
            }
        }
        &.alert-success{
            border-left: 4px solid $success;
            i{
                background-color: $success;
            }
        }
        &.alert-danger{
            border-left: 4px solid $danger;
            i{
                background-color: $danger;
            }
        }
    }
    p{
        margin-bottom: 0.2rem;
        font-size: $font-size-06;
        line-height: 1.3;
    }
    ul{
        li{
            margin-bottom: 0.25rem;
            line-height: 1.3;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}



.btn, input[type=submit]{
    position: relative;
    font-size: $font-size-main;
    font-family: $font-main;
    padding: 0.365rem 0.75rem;
    font-weight: $font-weight-semibold;
    @include transitionall(0.2s);
    @include box-shadow(none);
    &:not(:disabled):not(.disabled):active{
        &:focus{
            outline: none;
            @include box-shadow(none);
        }
    }
    &:hover, &:focus{
        outline: none;
        @include box-shadow(none);
    }
    &.btn-app{
        color: #fff;
        border-color: $theme-color-01;
        background: $theme-color-01;
        &:not(:disabled):not(.disabled):active, &:hover, &:focus{
            color: #fff;
            border-color: $theme-color-02;
            background: $theme-color-02;
        }
    }
    &.btn-primary{
        color: #fff;
        border-color: $btn-color-primary;
        background: $btn-color-primary;
        @include app-gradient;
        &:not(:disabled):not(.disabled):active, &:hover, &:focus{
            color: #fff;
            border-color: $btn-color-primary-hover;
            background: $btn-color-primary-hover;
            @include app-gradient;
        }
    }
    &.btn-outline-primary{
        &:not(:disabled):not(.disabled):active, &:hover{
            color: #fff;
        }
    }
    &.btn-secondary {
        color: #808080;
        background-color: #f5f5f5;
        border-color: #e0e0e0;
        &:not(:disabled):not(.disabled):active, &:hover, &:focus{
            color: #fff;
            border-color: $secondary;
            background: $secondary;
        }
    }
    &.btn-white{
        color: $font-color-main;
        border-color: #fff;
        background: #fff;
        &:not(:disabled):not(.disabled):active, &:hover, &:focus{
            color: #fff;
            border-color: $btn-color-primary;
            background: $btn-color-primary;
        }
    }
    &.btn-outline-white{
        color: #fff;
        border-color: rgba(#fff, 0.5);
        background: transparent;
        &:not(:disabled):not(.disabled):active, &:hover, &:focus{
            color: $font-color-main;
            border-color: #fff;
            background: #fff;
        }
    }
    &.btn-rounded{
        border-radius: 1.5rem;
        &:not(.btn-sm){
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    &.btn-icon{
        i{
            margin-right: 0.25rem;
            svg{
                height: 0.65rem;
            }
        }
    }
    &.btn-circle{
        padding: 0;
        text-align: center;
        line-height: calc(#{$form-control-height} - 2px);
        height: $form-control-height;
        width: $form-control-height;
        border-radius: 50%;
        @extend .d-inline-flex;
        svg{
            height: 0.75rem;
            fill: #fff;
            margin-top: -0.15rem;
        }
        i.ico{
            margin: auto;
        }
        i.fa{
            width: $form-control-height;
            height: $form-control-height;
            line-height: $form-control-height;
            vertical-align: middle;
        }
    }
    .spinner-border{
        margin-right: 0.15rem;
    }
}



.btn-group{
    >.btn{
        &.btn-rounded{
            border-top-left-radius: 1.5rem !important;
            border-bottom-left-radius: 1.5rem !important;
            border-top-right-radius: 1.5rem !important;
            border-bottom-right-radius: 1.5rem !important;
        }
    }
    &.btn-group-toggle{
        .btn{
            margin-left: 0;
            margin-right: -1px;
            cursor: pointer;
            &:focus, &.active, &:not(:disabled):not(.disabled):active{
                outline: none;
                box-shadow: none;
                color: #fff;
                border-color: $theme-color-01;
                background-color: $theme-color-01;
            }
            &:not(:active):not(.active):hover{
                color: $font-color-main;
                border-color: rgba(#a6a8ab, 0.3);
                background-color: #f8f9fa;
                z-index: 0;
            }
            &:first-child{
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }
            &:last-child{
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
        }
    }
}

.btn-group-sm>.btn, .btn-group-sm>input[type=submit], .btn-sm{
    font-size: 0.6rem;
    padding: 0.15rem 0.5rem;
    &.btn-icon{
        i{
            margin-right: 0.15rem;
        }
    }
    &.btn-circle{
        height: 1rem;
        width: 1rem;
        line-height: 1rem;
        height: calc(calc(#{$form-control-height} / 3) * 2);
        width: calc(calc(#{$form-control-height} / 3) * 2);
        line-height: calc(calc(calc(#{$form-control-height} / 3) * 2) - 2px);
        i.ico{
            width: 0.6rem;
            height: 0.6rem;
            @include background-size(auto 100%);
        }
        i.fa{
            width: calc(calc(#{$form-control-height} / 3) * 2);
            height: calc(calc(#{$form-control-height} / 3) * 2);
            line-height: calc(calc(#{$form-control-height} / 3) * 2);
        }
    }
}
.btn-group-lg>.btn, .btn-group-lg>input[type=submit], .btn-lg{
    font-size: $font-size-05;
    font-weight: $font-weight-semibold;
    padding: 0.525rem 1rem;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
    border-color: #ececec;
    border-radius: 2px;
}
.dropdown-item {
    padding: 0.5rem 1rem;
    color: $font-color-main;
    font-size: $font-size-06;
}

.dropdown{
    &.table-dropdown{
        &.show{
            .dropdown-toggle{
                z-index: 1090;
            }
        }
        .dropdown-toggle{
            &::after{
                display: none;
            }
        }
        .dropdown-menu{
            min-width: 5rem;
            border-radius: 0.25rem;
            margin-top: -1.25rem;
            padding-top: 1rem;
            padding-bottom: 0.2rem;
            border: 0;
            @include box-shadow(0 0 7px rgba(0,0,0,0.05));
            &[x-placement="top-end"]{
                margin-top: 0;
                margin-bottom: -1.25rem;
                padding-top: 0.2rem;
                padding-bottom: 1rem;
            }
        }
        .dropdown-item{
            padding: 0.4rem 0.75rem;
            font-size: 0.6rem;
            &:hover, &:focus{
                color: $theme-color-01;
                background-color: transparent;
            }
        }
    }
}

// List group
.list-group{
    @include box-shadow(0 0 5px rgba(0,0,0,0.05));
}
.list-group-item{
    border-color: $border-color-main;
    border-left: 0;
    border-right: 0;
    @include transitionall(0.2s);
    &:not(.active):hover{
        z-index: 1090;
        border-color: transparent;
        @include box-shadow(0 0 10px rgba(0,0,0,0.05));
    }
    &.active{
        background-color: $theme-color-01;
    }
    &:first-child {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &:last-child {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

// tables
.wr-table-collapse{
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    margin-top: -0.2rem;
    margin-bottom: 0;
}
.table-responsive{
    overflow-y: visible !important;
    >.table-bordered{
        border: 1px solid $border-color-table;
    }
}
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-color: $border-color-table;
}
.table-hover{
    tbody{
        tr:hover{
            background-color: #f7f7f7;
        }
    }
}
.table{
    margin-bottom: 0;
    &.vertical-middle{
        thead, tbody{
            >tr{
                >td, >th{
                    vertical-align: middle;
                }
            }
        }
    }
    &.table-collapse{
        border-spacing: 0.2rem;
        border-collapse: separate;
        border-top: 0;
        thead{
            tr{
                th, td{
                    border: 1px solid $border-color-table;
                }
            }
        }
        tbody{
            tr{
                th, td{
                    border: 1px solid $border-color-table;
                }
            }
        }
    }
    >thead{
        tr{
            th{
                white-space: nowrap;
                color: #414042;
                border: 0;
                font-size: $font-size-main;
                line-height: 1;
                padding: 0.5rem;
                font-weight: $font-weight-semibold;
                vertical-align: top;
                line-height: 1.3;
            }
        }
    }
    >tbody{
        tr{
            &:last-child{
                th, td{
                    border-bottom: 1px solid $border-color-table;
                }
            }
            &.hover{
                background-color: #f7f7f7;
            }
            th, td{
                font-size:  $font-size-main;
                line-height: 1.2;
                padding: 0.5rem;
                vertical-align: middle;
                border-color: $border-color-table;
                color: $font-color-table;
                &.no-padding{
                    padding: 0;
                }
                .custom-control{
                    margin-bottom: 0;
                    padding-left: 0;
                }
                .custom-control-label{
                    &::before, &::after {
                        top: 0;
                        left: 50%;
                        margin-left: -0.5rem;
                        border-radius: 50%;
                    }
                }
                .custom-checkbox{
                    .custom-control-input{
                        &:focus ~ .custom-control-label::before{
                            @include box-shadow(none);
                        }
                        &:checked ~ .custom-control-label::before{
                            background-color: $theme-color-01;
                            border-color: $theme-color-01;
                        }
                        &:checked ~ .custom-control-label::after{
                            background-image : url('#{$image-path}icon-checkbox-primary-checked.svg');
                            background-size: auto;
                        }
                    }
                    .custom-control-label{
                        &::after{
                            background-image : url('#{$image-path}icon-checkbox-secondary-default.svg');
                            background-size: auto;
                        }
                        &::before{
                            border-color: #a7a9ac;
                        }
                    }
                }

            }

        }
    }
    >tfoot{
        >tr{
            >th, >td{
                color: $font-color-table;
                font-weight: $font-weight-semibold;
                border-bottom: 1px solid $border-color-table;
                border-top: 0;
                padding: 0.4rem 0.5rem;
            }
        }
    }
}



.card {
    border-color: $border-color-main;
    margin-bottom: 1rem;
}
.card-header{
    padding: 0.5rem 0.75rem;
    background-color: #f7f7f7;
    border-bottom-color: $border-color-main;
    h2, h3, h4{
        margin-bottom: 0;
    }
}
.card-body {
    padding: 0.75rem;
}

.card-title{

}

.card-footer {

}


.accordion{
    .card-header{
        .btn{
            text-align: left;
            &:not(:disabled):not(.disabled):active, &:hover, &:focus{
                color: $theme-color-01;
                text-decoration: none;
                h4{
                    color: $theme-color-01;
                }
            }
            h4{
                @include transitionall(0.3s);
            }
        }
    }
}


body.modal-open {
    padding-right: 0 !important;
}
.modal {
    z-index: 999999;
    &.dialog-box{
        .modal-sm {
            @include media-breakpoint-up(sm) {
                max-width: 400px;
            }
        }
    }
}
.modal-header{
    border-bottom: 0;
    .close{
        color: $theme-color-01;
        opacity: 1;
        position: relative;
        text-shadow: none;
        background: #f7f7f7;
        &:focus, &:hover{
            color: $theme-color-01;
            outline: none;
            box-shadow: none;
        }
        span{
            display: none;
            font-weight: $font-weight-normal;
        }
        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1.6rem;
            height: 1.6rem;
            line-height: 1.6rem;
            text-align: center;
            margin: -0.8rem 0 0 -0.8rem;
            content: '\f00d';
            font-family: $icon-font;
            font-size: 0.8rem;
            font-weight: $font-weight-normal;
            @include transitionall(0.3s);
        }
    }
}
.modal-content {
    border-radius: 0.1rem;
    border-color: #ececec;
}
.modal-footer {
    padding: 0 1rem 1rem;
    border-top: 0;
    background: #fff;
    .btn{
        margin-right: 0.25rem;
        &:last-child{
            margin-right: 0;
            margin-left: 0;
        }
    }
}
.modal-backdrop{
    z-index: 99999;
    &.show {
        opacity: 0.7;
    }
}
.modal-sm{
    .modal-header{
        padding: 0.5rem 0.5rem 0;
        min-height: 2rem;
        .close{
            margin: -0.5rem -0.5rem -0.5rem auto;
        }
    }
    .modal-body {
        padding: 1rem 0.5rem;
    }
    .modal-footer {
        padding: 0 0.5rem 0.5rem;
    }
}




.breadcrumb{
    margin: 0 0 1rem 0;
    >li{
        font-weight: $font-weight-normal;
        padding-right: 0.1rem;
        color: $font-color-main;
        line-height: 1.6;
        >a{
            font-weight: $font-weight-normal;
            color: $font-color-main;
            &:hover, &:focus{
                color: $link-color-main;
            }
        }
        .breadcrumb-item + .breadcrumb-item::before{
            content: "|";
        }
    }
}

.pagination{
    margin-top: 1.5rem;
    .page-item{
        &.active{
            .page-link{
                color: #fff;
                border-color: $btn-color-primary-hover;
                background: $btn-color-primary-hover;
            }
        }
        .page-link{
            outline: none;
            color: $font-color-main;
            font-size: $font-size-06;
            &:hover, &:focus{
                color: #fff;
                border-color: $btn-color-primary-hover;
                background: $btn-color-primary-hover;;
            }
        }
    }
}

.pager{
    margin: 2rem 0 1rem;
    text-align: left;
    li{
        margin-bottom: 0.8rem;
        float: left;
        &.previous{
            margin-right: 2rem;
            a{
                svg{
                    float: left;
                    margin-right: 0.5rem;
                    margin-left: 0;
                }
            }
        }
        &.next{
            a{
                float: none;
            }
        }
        a{
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            font-size: $font-size-03;
            border: 0;
            color: $btn-color-primary;
            padding: 0;
            @include transitionall(0.3s);
            svg{
                fill: $btn-color-primary;
                height: 1rem;
                float: right;
                margin-left: 0.5rem;
                @include transitionall(0.3s);
            }
            &:hover, &:focus{
                background: none;
                color: $theme-color-01;
                svg{
                    fill: $theme-color-01;
                }
            }
        }
    }
}


.accordion{
    .card{
        margin-bottom: 0;
    }
    .card-header{
        padding: 0;
        button{
            display: block;
        }
    }
}


.nav-tabs {
    border-bottom-color: $border-color-main;
    .nav-link{
        color: #fff;
        background-color: $theme-color-01;
        border-radius: 0;
        border-bottom-color: $theme-color-01;
        &:hover{
            border-bottom-color: $theme-color-01;
        }
        &.active{
            border-color: $border-color-main;
            &:hover{
                border-color: $border-color-main;
            }
        }
    }
    & + .tab-content{
        padding-top: 1rem;
    }
}




.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"],
.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
    .arrow::before{
        margin-left: -2px;
    }
}


.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
    padding: 0.25rem 0;
    .arrow::before{
        border-width: 0.25rem 0.25rem 0;
    }
}

.tooltip{
    font-size: 0.6rem;
    .arrow{
        width: 0.4rem;
        height: 0.25rem;
    }
    .tooltip-inner{
        text-align: left;
        max-width: 290px;
        padding: 0.1rem 0.5rem 0.2rem;
        border-radius: 0.1rem;
        line-height: 1.3;
    }
}


.popover{
    font-family: $font-main;
    border: 0;
    color: #fff;
    @include border-radius(0);
    @include box-shadow(1px 5px 6px rgba(0, 0, 0, 0.2));
    &.top{
        >.arrow {
            border-width: 7px;
            bottom: -14px;
            margin-left: -6px;
            border-top-color: #ccc;
            &:after{
                margin-left: -6px;
                border-width: 6px;
                bottom: -5px;
            }
        }
    }
}
.popover-title{

}
.popover-content{
    padding: 6px 10px;
    font-size: $font-size-06;
}



.bootstrap-datetimepicker-widget a[data-action] {
    &:hover, &:focus{
        background: none;
    }
}
.timepicker-picker{
    .btn{
        padding: 0;
        border: 0;
        @include border-radius(4px);
        span{
            color: $link-color-main;
        }
    }
}




/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

.no-padding-xs{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-xs-left{
    padding-left: 0;
}
.no-padding-xs-right{
    padding-right: 0;
}


} /*//////////////////////////////////////*/



/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

.no-padding-sm{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-sm-left{
    padding-left: 0;
}
.no-padding-sm-right{
    padding-right: 0;
}

} /*//////////////////////////////////////*/



/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {


.no-padding-md{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-md-left{
    padding-left: 0;
}
.no-padding-md-right{
    padding-right: 0;
}


} /*//////////////////////////////////////*/



/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {


.no-padding-lg{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-lg-left{
    padding-left: 0;
}
.no-padding-lg-right{
    padding-right: 0;
}


} /*//////////////////////////////////////*/



/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

.no-padding-xl{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-xl-left{
    padding-left: 0;
}
.no-padding-xl-right{
    padding-right: 0;
}


} /*//////////////////////////////////////*/
