/**
 *
 * @mainSection: Form Wizard;
 * @dateCreated: 20190916;
 * @by : lakmal@fortunaglobal.com;
 *
 */

#wizard-preloader{
	&.preloader{
		background-color: rgba($theme-color-01, 0.9);
		span{
			border-color: rgba(255,255,255,0.5);
  			border-top-color: rgba(255,255,255,0.95);
		}
	}
}

.wizard-header{
	margin-top: 2rem;
	margin-bottom: 2rem;
    @include media-breakpoint-down(xs) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
	@include media-breakpoint-up(xl) {
		margin-bottom: 2.5rem;
	}
	.brand-logo{
		width: auto;
		height: 120px;
		@include media-breakpoint-down(xs) {
			height: 80px;
		}
	}
	.brand-name{
        display: none;
		color: #fff;
		font-size: 1.25rem;
		font-weight: $font-weight-light;
		margin-top: 1.5rem;
		margin-left: 0.5rem;
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}
    &.wizard-header-float-right{
        position: fixed;
        right: 15px;
        top: 0.5rem;
        margin: 0;
        .brand-logo{
            height: 100px;
            @include media-breakpoint-down(md) {
                height: 50px;
            }
        }
    }
}

.wizard-container{
	min-height: 100vh;
	background-color: $theme-color-01;
	@include linear-gradient(45deg, #339933, #85c286);

}

.wizard-content{
	min-height: calc(100vh - 5.5rem);
	@include media-breakpoint-up(xs) {
		min-height: calc(100vh - 5rem);
	}
	@include media-breakpoint-up(md) {
		min-height: calc(100vh - 3rem);
	}
}

.wizard-section{
	margin-bottom: 1rem;
	max-width: 500px;
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 0.5rem;
	@include box-shadow(0 0 10px rgba(0,0,0,0.1));
	@include transitionall(0.3s);
    &.has-user-profile{
        margin-top: 4rem;
    }
	&:hover{
		@include box-shadow(0 0 20px rgba(0,0,0,0.1));
	}
	@include media-breakpoint-up(md) {
		margin-bottom: 1rem;
	}
	.form-control{

	}
    .accept-text{
        margin-top: 0.75rem;
        margin-bottom: 0;
        font-size: 0.5rem;
        text-align: center;
        color: $form-label-color;
    }
}

.wizard-section-inner{
	margin-bottom: 0.5rem;
	@include media-breakpoint-up(md) {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}


.wizard-footer{
	padding: 0.75rem 0;
	p{
		color: rgba(255,255,255,0.8);

		a{
			color: rgba(255,255,255,0.8);
			&:hover{
				color: #fff;
			}
		}
	}
	.copyrights{
		p{
			@include media-breakpoint-up(sm) {
				line-height: 1.5rem;
			}
		}
	}
	.social-links{
		p{
			@include media-breakpoint-down(sm) {
				margin-top: 0.5rem;
			}
		}
		i{
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			line-height: 1.5rem;
			text-align: center;
			color: #fff;
			margin-right: 0.2rem;
			background-color: rgba(255,255,255,0.4);
		}
	}
}

.wizard-btn-group{
	.btn.btn-lg{
		padding-left: 3rem;
		padding-right: 3rem;
	}
}


.wizard-form{
	position: relative;
	.steps {
		display: none;
	}
	.content{
		h3 {
			display: none;
		}
	}
	.actions{
		margin-top: 1rem;
        text-align: center;
		li{
			&:first-child{
				a {
	    			@extend .btn-light;
				}
			}
			a{
				@extend .btn;
				@extend .btn-success;
                @extend .btn-lg;
                @extend .btn-rounded;
                padding-left: 2rem !important;
                padding-right: 2rem !important;
			}
		}
	}
}




/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/





















