/**
 * 
 * @mainSection: Full page slider;
 * @dateCreated: 20190329;
 * @by : lakmal@fortunaglobal.com;
 *
 */


.fullpage-slider{
	@include media-breakpoint-up(lg) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		overflow: hidden;
		margin-bottom: 0;
	}
	// .carousel-item{ 
	// 	@include transition((transform 3s ease, opacity 1s ease-out));
	// }
	.carousel-control{
		opacity: 1
	}
	.carousel-caption{
		z-index: 1090;
		left: 0;
		right: 0; 
		top: 0; 
		bottom: 0;
		text-align: left;
		padding: 0;
		@include media-breakpoint-down(md) {
			text-align: center;
  		}
		h5{  
			font-family: $font-01;
			font-size: 0.9rem;
			font-weight: $font-weight-normal;
			line-height: 1.2;
			margin-bottom: 0.25rem;  
			color: #fff;
			line-height: 1.3;
			-webkit-animation-duration: 1.5s;
			-moz-animation-duration: 1.5s;
			-o-animation-duration: 1.5s;
	  		animation-duration: 1.5s;
			-webkit-animation-name: fadeInUp;
			-moz-animation-name: fadeInUp;
			-o-animation-name: fadeInUp;
	  		animation-name: fadeInUp;
	  		@include text-shadow(0 1px 2px rgba(0,0,0,0.1));
	  		@include media-breakpoint-up(lg) {
				font-size: 2.5rem;
				margin-bottom: 1.5rem; 
				line-height: 1.1;
				font-weight: $font-weight-semibold;
				margin-top: -2rem;
	  		}
		}
		p{
			color: #fff;
			font-size: $font-size-05;
			line-height: 1.5;
			@include text-shadow(0 1px 2px rgba(0,0,0,0.1));
			-webkit-animation-duration: 1.5s;
			-moz-animation-duration: 1.5s;
			-o-animation-duration: 1.5s;
	  		animation-duration: 1.5s;
	  		-webkit-animation-delay: 0.25s;
			-moz-animation-delay: 0.25s;
			-o-animation-delay: 0.25s;
	  		animation-delay: 0.25s;
			-webkit-animation-name: fadeInUp;
			-moz-animation-name: fadeInUp;
			-o-animation-name: fadeInUp;
	  		animation-name: fadeInUp;
		}
		.btn{
			padding: 0.4rem 1rem;
			margin-right: 0.5rem;
			margin-top: 0.5rem;
			@include text-shadow(0 1px 2px rgba(0,0,0,0.1));
			-webkit-animation-duration: 1.5s;
			-moz-animation-duration: 1.5s;
			-o-animation-duration: 1.5s;
	  		animation-duration: 1.5s;
	  		-webkit-animation-delay: 0.25s;
			-moz-animation-delay: 0.25s;
			-o-animation-delay: 0.25s;
	  		animation-delay: 0.25s;
			-webkit-animation-name: fadeInUp;
			-moz-animation-name: fadeInUp;
			-o-animation-name: fadeInUp;
	  		animation-name: fadeInUp;
	  		@include media-breakpoint-up(lg) {
				margin-top: 1.5rem;
	  		}
		}
	}
	.carousel-control{
		&.right, &.left {
			width: 50px;
		    background: none; 
		}
	}
	.wr-carousel-indicators{
		position: absolute;
		bottom: 0.5rem;
		left: 0;
		width: 100%;
		z-index: 1010;
		@include media-breakpoint-up(lg) {
			bottom: 4rem;
		}
	}
	.carousel-indicators{
		position: relative;
		bottom: auto;
		margin-left: 0;
		margin-right: 0;
		li{
			width: 0.75rem;
		    height:  0.75rem;
		    margin-right: 0.4rem;
		    margin-left: 0;
		    background-color: #fff;
		    border: 0;
		    opacity: 0.75;
		    @include border-radius(50%);
            @include transitionall(0.2s);
            &.active, &:hover{
            	background-color: #38373d; 
            }
		}
	}
}




