/**
 *
 * @Module: Listing;
 * @dateCreated: 20190905;
 * @by : lakmal@fortunaglobal.com;
 *
 */

.listing{
    .list-item-inner{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    &.grid-view{
        margin-bottom: -1rem;
        .list-item{
            margin-bottom: 1rem;
            .list-item-inner{
                -ms-flex-direction: column!important;
                flex-direction: column!important;
                width: 100%;
            }
            .list-item-image{
                flex-shrink: 0;
            }
            img{
                flex-shrink: 0;
            }
            .list-item-body{
                width: 100%;
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -ms-flex-direction: column!important;
                flex-direction: column!important;
                flex: 1 0 auto;
            }
            h3{
                width: 100%;
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                flex: 1 0 auto;
            }
        }
    }
    &.list-view{
        .list-item{
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
                .list-item-inner{
                    border-bottom: 0;

                }
                .list-item-body{
                    padding-bottom: 0;
                }
            }
            .list-item-inner{
                -ms-flex-direction: row!important;
                flex-direction: row!important;
                width: 100%;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-radius: 0;
            }
            .list-item-image{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 6rem;
                flex: 0 0 6rem;
                max-width: 6rem;
                @include media-breakpoint-up(sm) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 10rem;
                    flex: 0 0 10rem;
                    max-width: 10rem;
                }
                &:after, img{
                    border-radius: 0;
                }
            }
            .list-item-body{
                padding-top: 0;
                padding-right: 0;
                width: 100%;
            }
            h3{

            }
        }
    }
    .owl-item{
        @extend .d-flex;
    }
}





/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
