/**
 *
 * Dashboard common
 *
 */

$widget-heading-color : #9e90b2;

.data-widget,
.data-widget-filter,
.data-widget-table,
.data-widget-form{
    margin-bottom: 1.5rem; 
}

.data-widget{
    position: relative;
    h2, h3{
     
    }
}


.data-widget-link{
    @include transitionall(0.3s);
    &:hover{
        background: $theme-color-02;
        .icon-link{
            svg{ 
                fill: #fff;
            }
        }
        h4{
            color: #fff;
        }
    }
    > a{
        @include transitionall(0.3s);
        &:hover{
            text-decoration: none;
        }
    }
    .icon-link{
        text-align: center;
        svg{ 
            height: 2.5rem; 
            fill: $theme-color-02;
            margin: 0 auto 0.5rem;
            @include transitionall(0.3s);
        }
    }
    h4{
        font-family: $font-01;
        color: $widget-heading-color;
        margin-bottom: 0.5rem; 
        @include transitionall(0.3s);
    }
}


.data-widget-table{
    margin-bottom: 1.5rem;
    h4{
        font-weight: $font-weight-normal;
        margin-bottom: 0; 
        background: $theme-color-02;
        color: #fff;
        padding: 0.5rem;  
    }
    .table{
        th, td{
            .btn{
                color: $font-color-main;
                &:hover, &:focus{
                    color: $link-color-main;
                }
                &.btn-sm{
                    padding: 0.15rem 0.25rem;
                }
            }
        }
    }
}