/**
 *
 * @Module: Listing;
 * @Component: List Item;
 * @dateCreated: 20190905;
 * @by : lakmal@fortunaglobal.com;
 *
 */


$list-item-border-radius: 0.25rem;


.list-item{
    @extend .d-flex;
    .list-item-inner{
        overflow: hidden;
        background-color: #fff;
        border-radius: $list-item-border-radius;
        border: 1px solid $border-color-main;
        @include transitionall(0.3s);
        &:hover{
            // @include box-shadow((0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 10px -2px rgba(0, 0, 0, 0.05)));
            // @include transitionall(0.3s);
            .list-item-image{
                >a, span{
                    &:after{
                        opacity: 0.5;
                        @include transitionall(0.3s);
                    }
                }
            }
        }
    }
}


.list-item-image{
    position: relative;
    >a, span{
        display: block;
        position: relative;
        z-index: 1010;
        &:after{
            opacity: 0;
            content: '';
            position: absolute;
            z-index: 1020;
            left: 0;
            top: 40%;
            height: 60%;
            width: 100%;
            border-top-left-radius: $list-item-border-radius;
            border-top-right-radius: $list-item-border-radius;
            @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
            @include transitionall(0.3s);
        }
    }
    img{
        border-top-left-radius: $list-item-border-radius;
        border-top-right-radius: $list-item-border-radius;
    }
}
.list-item-body{
    padding: 0.5rem;
    @include media-breakpoint-up(sm) {
        padding: 0.75rem;
    }
}
h3{
    color: #333;
    margin-bottom: 0.75rem;
    line-height: 1.3;
    font-size: $font-size-04;
    font-weight: $font-weight-semibold;
    @include transitionall(0.3s);
    a{
        line-height: 1.3;
        color: #333;
        @include transitionall(0.3s);
        &:hover{
            color: $theme-color-01;
        }
    }
}
.meta-category{
    .breadcrumb{
        background-color: transparent;
        padding: 0;
        margin-top: auto;
        margin-bottom: 0.3rem;
        border-radius: 0;
        >li{
            color: #999;
            font-size: $font-size-07;
            line-height: 1.3;
            font-weight: $font-weight-semibold;
            a{
                color: #999;
                font-weight: $font-weight-semibold;
                @include transitionall(0.3s);
                &:hover{
                    color: $theme-color-01;
                }
            }
        }
        .breadcrumb-item + .breadcrumb-item{
            padding-left: 0.15rem;
            &::before{
                content: '>';
                padding-right: 0.15rem;
            }
        }
    }
}
.list-item-location,
.list-item-updated-time,
.list-item-views{
    i{
        color: $theme-color-01;
        margin-right: 0.15rem;
    }
}
.list-item-category,
.list-item-location,
.list-item-views{
    line-height: 1.3;
    color: #333;
    font-size: $font-size-06;
    font-weight: $font-weight-semibold;
}
.list-item-location{
    margin-bottom: 1.25rem;
}
.list-item-price{
    margin-bottom: 0;
    color: $theme-color-01;
    font-weight: $font-weight-bold;
    font-size: $font-size-04;
    line-height: 1;
}
.list-item-updated-time{
    margin-bottom: 0;
    text-align: right;
    color: #999;
    line-height: 1;
    font-weight: $font-weight-normal;
    font-size: $font-size-main;
}
.list-item-footer{
    padding: 0 0.75rem 0.75rem;
}



/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {






} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
