/**
 *
 * @Module: Listing;
 * @Component: List Item Details;
 * @dateCreated: 20191210;
 * @by : lakmal@fortunaglobal.com;
 *
 */

.list-item-details{
    .list-item-header{
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-color-main;
        h1{
            margin-bottom: 0.25rem;
            font-weight: $font-weight-bold;
        }
    }
    .posted-by{
        margin-bottom: 0;
        font-size: $font-size-main;
        font-weight: $font-weight-semibold;
        color: #999;
    }
    .meta-category{
        .breadcrumb{
            .breadcrumb-item{
                font-size: $font-size-main;
                & + .breadcrumb-item{

                }
            }
        }
    }
    .list-item-category,
    .list-item-location,
    .list-item-updated-time,
    .list-item-views{
        margin-bottom: 0.25rem;
        margin-right: 0.75rem;
    }
    .list-item-updated-time{
        text-align: left;
        line-height: 1.3;
        color: #333;
        font-size: $font-size-06;
        font-weight: $font-weight-semibold;
    }
    .list-item-body{
        padding: 0;
    }
    .list-item-gallery{
        margin-bottom: 0.75rem;
        .gallery-hero{
            background-color: #f7f7f7;
        }
        .gallery-thumbs{
            padding: 0.5rem;
            background-color: #f7f7f7;
            @include media-breakpoint-up(sm) {
                padding: 0.75rem;
            }
            img{
                border-radius: 0.25rem;
            }
        }
    }
    .list-item-image{
        > a:after, > span:after{
            display: none;
        }
        img{
            border-radius: 0;
        }
    }
    .list-item-price{
        font-size: 1rem;
    }
    .list-item-contacts{
        .contacts-inner{
            margin-bottom: 0.75rem;
            padding: 0.75rem 0.75rem 0.5rem;
            border-radius: 0.25rem;
            background-color: #f7f7f7;
            &:last-child{
                margin-bottom: 0;
            }
            .phone-number-toggle{
                margin-bottom: 0.25rem;
            }
        }
        p, address{
            margin-bottom: 0.25rem;
            span{
                color: #333;
                font-weight: $font-weight-semibold;
            }
        }
    }
}

.list-item-properties{
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $border-color-main;
    dl{
        dt, dd{
            line-height: 1.5;
        }
        dt{
            display: inline-block;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            margin-right: 0.25rem;
            margin-bottom: 0;
        }
        dd{
            display: inline-block;
            margin-bottom: 0.5rem;
        }
    }
}

.list-item-actions{
    margin-bottom: 1rem;
    .btn{
        color: #999;
        font-size: $font-size-05;
        font-weight: $font-weight-semibold;
        text-align: left;
        padding: 0.5rem 0;
        border-radius: 0;
        margin: 0;
        border-bottom: 1px solid $border-color-main;
        @include transitionall(0.3s);
        &:hover, &:focus, &.active, &:not(:disabled):not(.disabled):active{
            color: $theme-color-01;
        }
    }
}

.list-item-widget{
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-color-main;
    .list-item-title{
        text-transform: uppercase;
        font-size: $font-size-05;
        font-weight: $font-weight-bold;
        margin-bottom: 0.5rem;
    }
}

.phone-number-toggle{
    span{
        display: block;
    }
    i{
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        margin-right: 0.5rem;
        text-align: center;
        color: #fff;
        background-color: $theme-color-02;
        border-radius: 50%;
        @include app-gradient;
    }
    .phone-number-outer{
        font-size: $font-size-03;
        color: $font-color-main;
    }
    .phone-number-inner{
        font-size: $font-size-07;
        font-weight: $font-weight-bold;
        margin-top: 0.15rem;
    }
}

.safety-tips{
    ul{
        margin-bottom: 0;
        li{
            color: #999;
            font-weight: $font-weight-semibold;
        }
    }
}

.social-share{
    ul{
        li{
            margin-left: 0.5rem;
        }
    }
}

.list-item-related{
    margin-top: 0.75rem;
    h3.list-item-title{
        border-radius: 0.25rem;
        font-size: $font-size-04;
        margin-bottom: 1rem;
        background-color: #f7f7f7;
        padding: 0.5rem 0.75rem;
        color: $theme-color-01;
    }
    @include media-breakpoint-up(lg) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
