/**
 *
 * Poppins
 *
 */

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-ExtraLight.eot');
    src: url('#{$font-path}Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-ExtraLight.woff2') format('woff2'),
        url('#{$font-path}Poppins-ExtraLight.woff') format('woff'),
        url('#{$font-path}Poppins-ExtraLight.ttf') format('truetype'),
        url('#{$font-path}Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-ExtraLightItalic.eot');
    src: url('#{$font-path}Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('#{$font-path}Poppins-ExtraLightItalic.woff') format('woff'),
        url('#{$font-path}Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('#{$font-path}Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;  
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Light.eot');
    src: url('#{$font-path}Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Light.woff2') format('woff2'),
        url('#{$font-path}Poppins-Light.woff') format('woff'),
        url('#{$font-path}Poppins-Light.ttf') format('truetype'),
        url('#{$font-path}Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-LightItalic.eot');
    src: url('#{$font-path}Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-LightItalic.woff2') format('woff2'),
        url('#{$font-path}Poppins-LightItalic.woff') format('woff'),
        url('#{$font-path}Poppins-LightItalic.ttf') format('truetype'),
        url('#{$font-path}Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Regular.eot');
    src: url('#{$font-path}Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Regular.woff2') format('woff2'),
        url('#{$font-path}Poppins-Regular.woff') format('woff'),
        url('#{$font-path}Poppins-Regular.ttf') format('truetype'),
        url('#{$font-path}Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Italic.eot');
    src: url('#{$font-path}Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Italic.woff2') format('woff2'),
        url('#{$font-path}Poppins-Italic.woff') format('woff'),
        url('#{$font-path}Poppins-Italic.ttf') format('truetype'),
        url('#{$font-path}Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Regular.eot');
    src: url('#{$font-path}Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Regular.woff2') format('woff2'),
        url('#{$font-path}Poppins-Regular.woff') format('woff'),
        url('#{$font-path}Poppins-Regular.ttf') format('truetype'),
        url('#{$font-path}Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Italic.eot');
    src: url('#{$font-path}Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Italic.woff2') format('woff2'),
        url('#{$font-path}Poppins-Italic.woff') format('woff'),
        url('#{$font-path}Poppins-Italic.ttf') format('truetype'),
        url('#{$font-path}Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Medium.eot');
    src: url('#{$font-path}Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Medium.woff2') format('woff2'),
        url('#{$font-path}Poppins-Medium.woff') format('woff'),
        url('#{$font-path}Poppins-Medium.ttf') format('truetype'),
        url('#{$font-path}Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-MediumItalic.eot');
    src: url('#{$font-path}Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}Poppins-MediumItalic.woff') format('woff'),
        url('#{$font-path}Poppins-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-SemiBold.eot');
    src: url('#{$font-path}Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-SemiBold.woff2') format('woff2'),
        url('#{$font-path}Poppins-SemiBold.woff') format('woff'),
        url('#{$font-path}Poppins-SemiBold.ttf') format('truetype'),
        url('#{$font-path}Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-SemiBoldItalic.eot');
    src: url('#{$font-path}Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('#{$font-path}Poppins-SemiBoldItalic.woff') format('woff'),
        url('#{$font-path}Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('#{$font-path}Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-Bold.eot');
    src: url('#{$font-path}Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-Bold.woff2') format('woff2'),
        url('#{$font-path}Poppins-Bold.woff') format('woff'),
        url('#{$font-path}Poppins-Bold.ttf') format('truetype'),
        url('#{$font-path}Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-BoldItalic.eot');
    src: url('#{$font-path}Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}Poppins-BoldItalic.woff') format('woff'),
        url('#{$font-path}Poppins-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-ExtraBold.eot');
    src: url('#{$font-path}Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-ExtraBold.woff2') format('woff2'),
        url('#{$font-path}Poppins-ExtraBold.woff') format('woff'),
        url('#{$font-path}Poppins-ExtraBold.ttf') format('truetype'),
        url('#{$font-path}Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}Poppins-ExtraBoldItalic.eot');
    src: url('#{$font-path}Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('#{$font-path}Poppins-ExtraBoldItalic.woff') format('woff'),
        url('#{$font-path}Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('#{$font-path}Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Slab';
    src:url('#{$font-path}RobotoSlab-Bold.woff2') format('woff2'),
        url('#{$font-path}RobotoSlab-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src:url('#{$font-path}RobotoSlab-Light.woff2') format('woff2'),
        url('#{$font-path}RobotoSlab-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src:url('#{$font-path}RobotoSlab-Regular.woff2') format('woff2'),
        url('#{$font-path}RobotoSlab-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src:url('#{$font-path}RobotoSlab-Thin.woff2') format('woff2'),
        url('#{$font-path}RobotoSlab-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

// @font-face {
//     font-family: 'Poppins';
//     src: url('#{$font-path}Poppins-Black.eot');
//     src: url('#{$font-path}Poppins-Black.eot?#iefix') format('embedded-opentype'),
//         url('#{$font-path}Poppins-Black.woff2') format('woff2'),
//         url('#{$font-path}Poppins-Black.woff') format('woff'),
//         url('#{$font-path}Poppins-Black.ttf') format('truetype'),
//         url('#{$font-path}Poppins-Black.svg#Poppins-Black') format('svg');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('#{$font-path}Poppins-BlackItalic.eot');
//     src: url('#{$font-path}Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
//         url('#{$font-path}Poppins-BlackItalic.woff2') format('woff2'),
//         url('#{$font-path}Poppins-BlackItalic.woff') format('woff'),
//         url('#{$font-path}Poppins-BlackItalic.ttf') format('truetype'),
//         url('#{$font-path}Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
//     font-weight: 900;
//     font-style: italic;
// }



/**
 *
 * Roboto Condensed
 *
 */

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Light.eot');
    src: url('#{$font-path}RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Light.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Light.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Light.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-LightItalic.eot');
    src: url('#{$font-path}RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-LightItalic.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-LightItalic.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Regular.eot');
    src: url('#{$font-path}RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Regular.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Regular.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Regular.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Italic.eot');
    src: url('#{$font-path}RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Italic.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Italic.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Italic.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Regular.eot');
    src: url('#{$font-path}RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Regular.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Regular.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Regular.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Italic.eot');
    src: url('#{$font-path}RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Italic.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Italic.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Italic.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Bold.eot');
    src: url('#{$font-path}RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Bold.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Bold.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Bold.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-BoldItalic.eot');
    src: url('#{$font-path}RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-BoldItalic.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-Bold.eot');
    src: url('#{$font-path}RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-Bold.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-Bold.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-Bold.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}RobotoCondensed-BoldItalic.eot');
    src: url('#{$font-path}RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}RobotoCondensed-BoldItalic.woff') format('woff'),
        url('#{$font-path}RobotoCondensed-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}


